 <div class="p-6 bg-white rounded-md shadow-md m-5">
        <div class="header-container">
            <span>Category Form</span>
            <div class="button-group">
                <button nz-button nzType="default" [routerLink]="'/home'" class=""> Cancel </button>
                <button nz-button nzType="default" (click)="DeleteCategory()" class=""> Delete </button>
                <button nz-button nzType="primary" class="text-white ">Save </button>
            </div>
        </div>
        <nz-divider nzPlain></nz-divider>
        <form nz-form [formGroup]="categoryForm">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-12 gap-12">
                    <!-- Left Section -->
                    <div class="lg:col-span-5 md:col-span-6">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

                                <!-- Category ID -->
                                <nz-form-item>
                                    <nz-form-label  [nzNoColon]="true">Category Id</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="akiCategoryID" id="categoryId" [disabled]="true"  />
                                    </nz-form-control>
                                </nz-form-item>
                            
                                <!-- Parent ID -->
                                <nz-form-item>
                                    <nz-form-label  [nzNoColon]="true">Parent Id</nz-form-label>
                                    <nz-form-control >
                                        <input nz-input formControlName="akiCategoryParentID" id="parentId" [disabled]="true"  />
                                    </nz-form-control>
                                </nz-form-item>
                            
                                <!-- Department ID -->
                                <nz-form-item>
                                    <nz-form-label [nzNoColon]="true">Department Id</nz-form-label>
                                    <nz-form-control >
                                        <input nz-input formControlName="akiDepartment"  [disabled]="true" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            
                            <div class="grid grid-cols-1">
                                <nz-form-item>
                                        <nz-form-label [nzNoColon]="true" nzFor="categoryName" [nzSm]="6" [nzXs]="24">Category Name</nz-form-label>
                                        <nz-form-control [nzSm]="18" [nzXs]="24">
                                        <div class="input-wrapper">
                                            <input nz-input formControlName="akiCategoryName" maxlength="100" />
                                            <span class="char-count">
                                                {{ 100 - categoryForm.get('akiCategoryName')?.value?.length || 100 }}
                                            </span>
                                        </div>
                                        </nz-form-control>
                                </nz-form-item>
                            </div>
                            
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <nz-form-item class="w-full">
                                    <nz-form-label nzFor="akiCategoryGuidePrice"  [nzNoColon]="true">Guide Price</nz-form-label>
                                    <nz-form-control >
                                        <input nz-input formControlName="akiCategoryGuidePrice" />
                                    </nz-form-control>
                                </nz-form-item>
                            
                                <nz-form-item class="w-full">
                                    <nz-form-label nzFor="guideWeight"  [nzNoColon]="true">Guide Weight</nz-form-label>
                                    <nz-form-control >
                                        <input nz-input formControlName="akiCategoryGuideWeight"/>
                                    </nz-form-control>
                                </nz-form-item>
                            
                                <nz-form-item class="w-full">
                                    <nz-form-label nzFor="commodityCode"  [nzNoColon]="true">Commodity Code</nz-form-label>
                                    <nz-form-control >
                                        <nz-select formControlName="akiCategoryCommodityCode" class="w-full">
                                            @for (commodity of CommodityCode; track $index) {
                                                <nz-option  [nzValue]="commodity.commodityCode" [nzLabel]="commodity.commodityCode"></nz-option>
                                            }
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <nz-form-item>
                                    <nz-form-label  [nzNoColon]="true">List Order</nz-form-label>
                                    <nz-form-control >
                                        <input nz-input formControlName="akiCategoryListOrder" />
                                    </nz-form-control>
                                </nz-form-item>
                            
                                <nz-form-item>
                                    <nz-form-label nzFor="countryOfOrigin"  [nzNoColon]="true">Country of Origin</nz-form-label>
                                    <nz-form-control>
                                    <nz-select formControlName="akiCategoryCountryOfOrigin" class="w-full">
                                        @for (country of countries; track $index) {
                                            <nz-option  [nzValue]="country.code" [nzLabel]="country.name"></nz-option>
                                        }
                                    </nz-select>
                                    </nz-form-control>
                                </nz-form-item>

                                <div class="nz-checkbox-wrapper nz-checkbox-wrapper-price">
                                    <label formControlName="akiCategoryPromptUserIfPriceGroupIsBlank" nz-checkbox nzValue="false"> 
                                        Prompt User If Price Group is Blank
                                    </label >
                                </div>
                            </div>

                            <div class="grid grid-cols-1 ">
                                <div class="nz-checkbox-wrapper mt-2 mb-2">
                                    <label formControlName="akiCategoryWebActive" nz-checkbox nzValue="false"> Web Active </label >
                                    <label formControlName="akiCategoryPopular" nz-checkbox nzValue="false"> Popular </label >
                                    <label formControlName="akiCategoryTickBoxNotInUse" nz-checkbox nzValue="false"> Tick Box Not In Use </label >
                                    <label formControlName="akiCategoryUseComplexSearch" nz-checkbox nzValue="false"> Use Complex Search </label >
                                </div>
                            </div>

                            <div class="grid grid-cols-1">
                                <nz-form-item >
                                    <div class="flex flex-wrap justify-between items-center w-full">
                                        <nz-form-label [nzNoColon]="true">Category Text</nz-form-label>
                                        <button nz-button nzType="default" class="">
                                            Spelling
                                        </button>
                                    </div>
                                    <nz-form-control  >
                                        <textarea nz-input formControlName="akiCategoryDescriptionText" maxlength="2000" class=""></textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div class="grid grid-cols-1 md:grid-cols-2">          
                                <nz-form-item >
                                    <nz-form-label [nzNoColon]="true">Image URL</nz-form-label>
                                    <nz-form-control [nzSm]="18" [nzXs]="24" [nzMd]="24">
                                            <input nz-input nzType="file"formControlName="akiCategoryImageURL" #fileInput
                                                accept="image/*"
                                                (change)="onFileSelected($event)"
                                                class="hidden" />

                                             <!-- Image URL Input (Display Selected File Name or URL) -->
                                            <input
                                                nz-input
                                                [value]="selectedFileName || 'Choose an image...'"
                                                readonly
                                                class="w-full" nzType="file"
                                            />
                                              
                                            <!-- <button nz-button class="absolute m-0 top-0 h-full px-4 rounded-l-none" (click)="fileInput.click()" nzType="primary">FTP</button> -->
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-label class="mt-auto" [nzMd]="12" [nzNoColon]="true">{{ 255 - categoryForm.get('imageUrl')?.value?.length || 255 }}</nz-form-label>
                            </div>

                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
                                <!-- No of Additional Images -->
                                <nz-form-item class="w-full">
                                    <nz-form-label  nzFor="additionalImages" [nzNoColon]="true" class="product-link">
                                        <a href="#" class="underline">No of Additional Images</a>
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="additionalImages" id="additionalImages" [disabled]="true"/>
                                    </nz-form-control>
                                </nz-form-item> 
                            
                                <!-- Category Discount -->
                                <nz-form-item class="w-full">
                                    <nz-form-label  nzFor="categoryDiscount" [nzNoColon]="true">Category Discount</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="akiCategoryDiscount" id="categoryDiscount" />
                                    </nz-form-control>
                                </nz-form-item>

                                <label class="mt-auto">(If empty, or 0, the Department default will be used).</label>
                            </div>

                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
                                <!-- No of URL Links -->
                                 <nz-form-item class="w-full">
                                    <nz-form-label nzFor="urlLinks" [nzNoColon]="true" class="product-link">
                                        <a href="#" class="underline">No of URL Links</a>
                                    </nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="urlLinks" id="urlLinks" />
                                    </nz-form-control>
                                </nz-form-item>
                            
                                <!-- Image Height -->
                                <nz-form-item class="w-full">
                                    <nz-form-label nzFor="imageHeight" [nzNoColon]="true">Image Height</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="akiCategoryImageHeight" id="imageHeight" />
                                    </nz-form-control>
                                </nz-form-item>
                            
                                <!-- Image Width -->
                                <nz-form-item class="w-full">
                                    <nz-form-label nzFor="imageWidth" [nzNoColon]="true">Image Width</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="akiCategoryImageWidth" id="imageWidth" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <!-- Website Specific Section -->
                            <div class="mt-2">
                                <label >Website specific</label>
                                <div class="border border-gray-300 rounded-lg p-4">
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
                                        <!-- Checkbox Section -->
                                        <div class="nz-checkbox-wrapper nz-checkbox-wrapper-website">
                                            <label class="nz-checkbox-wrapper-label"  formControlName="akiCategoryIncludeInSearchByManufacture" nz-checkbox nzValue="false"> 
                                                <span class="pl-2"> Include Search by Manufacturer</span> 
                                            </label >
                                            <label  class="nz-checkbox-wrapper-label" formControlName="akiCategoryLogInAndGreenTickOnly" nz-checkbox nzValue="false">
                                                <span class="pl-2"> Log in and green tick only </span> 
                                            </label >
                                        </div>

                                        <!-- Minimum Digits Input -->
                                        <nz-form-item class="w-full">
                                            <nz-form-label nzFor="minDigits" [nzNoColon]="true">Minimum Digits</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input formControlName="akiCategoryMinimumDigits" id="minDigits" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                            </div>

                            <!-- Return Type Section -->
                             <div class="grid grid-cols-1 md:grid-cols-2"> 
                                <nz-form-item >
                                    <nz-form-label nzFor="returnType" [nzNoColon]="true">Return Type</nz-form-label>
                                    <nz-form-control [nzSm]="18" [nzXs]="24" [nzMd]="24">
                                            <nz-select formControlName="akiCategoryReturnType">
                                                @for (option of returnOptions;track option.value) {
                                                    <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                                                }
                                            </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-label class="mt-auto" [nzMd]="24" [nzNoColon]="true"> This will roll down to all sub-categories.</nz-form-label>
                            </div>                          
                    </div>
                
                    <!-- Right Section -->
                    <div class="lg:col-span-5 md:col-span-6 lg:pl-20" >
                            <!-- Category Settings Section -->
                            <div class="grid grid-cols-1 gap-4 mt-2">
                                <!-- Checkboxes -->
                                <div class="flex flex-col items-start space-y-2 nz-checkbox-wrapper nz-checkbox-wrapper-website">
                                    <label class=""  formControlName="akiCategoryPrintCatActive" nz-checkbox nzValue="false">Cat Active </label >
                                    <label class="ml-0" formControlName="showCategoryText" nz-checkbox nzValue="false"> <span>Show Category Text </span></label >
                                    <label class="ml-0" formControlName="showCategoryImage" nz-checkbox nzValue="false">Show Category Image </label >
                                </div>
                            </div>

                            <!-- Layout Template Dropdown -->
                            <div class="mt-1">
                                <nz-form-item class="w-full">
                                    <nz-form-label nzFor="layoutTemplate" [nzNoColon]="true">Layout Template</nz-form-label>
                                    <nz-form-control>
                                        <nz-select formControlName="layoutTemplate" class="w-full">
                                            @for (option of layoutOptions; track option.value) {
                                                <nz-option  [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                                            }
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <!-- Alternative Title -->
                            <div class="mt-1">
                                <nz-form-item class="w-full">
                                    <nz-form-label nzFor="alternativeTitle" [nzNoColon]="true">Alternative Title</nz-form-label>
                                    <nz-form-control>
                                        <textarea nz-input rows="4" formControlName="alternativeTitle" id="alternativeTitle" class="w-full p-2"></textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <!-- Show Price Breaks Checkbox -->
                            <div class="mt-1">
                                <div class="flex items-center space-x-2 nz-checkbox-wrapper">
                                    <label formControlName="akiCategoryShowPriceBreaks" nz-checkbox nzValue="false">Show Price Breaks </label >
                                </div>
                            </div>

                            <!-- Index Entry Text Section -->
                            <div class="mt-2">
                                <label >Index Entry Text</label>
                                <div class="border border-gray-300 rounded-lg p-4">
                                    <div class="grid grid-cols-1 gap-3">
                                        <nz-form-item>
                                            <nz-form-label [nzNoColon]="true">Index Entry 1</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input formControlName="akiCategoryIndex1" class="w-full" />
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label [nzNoColon]="true">Index Entry 2</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input formControlName="akiCategoryIndex2" class="w-full" />
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label [nzNoColon]="true">Index Entry 3</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input formControlName="akiCategoryIndex3" class="w-full" />
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label [nzNoColon]="true">Index Entry 4</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input formControlName="akiCategoryIndex4" class="w-full" />
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label [nzNoColon]="true">Index Entry 5</nz-form-label>
                                            <nz-form-control>
                                                <input nz-input formControlName="akiCategoryIndex5" class="w-full" />
                                            </nz-form-control>
                                        </nz-form-item>
                                        
                                    </div>
                                </div>
                            </div>
                    </div>
                </div> 
                <!-- Associated Products Section -->
                <div class="mt-2">
                    <label >Associated Products</label>
                    <div class="border border-gray-300 rounded-lg p-4">
                        <div class="flex justify-end space-x-2">
                            <!-- <button nz-button nzType="default" >Edit / Order</button> -->
                            <button nz-button nzType="primary" (click)="showAddProductModal()" class="text-white mr-0">Add</button>
                        </div>
                        <div class="">
                            <!-- <nz-table #dataTable [nzData]="categoriesList" 
                                nzShowPagination="true"                                           
                                class="rounded-lg"
                                [nzScroll]="{ x: 'w-full' }" 
                                nzBordered="true">
                                <thead class="text-xs">
                                  <tr>
                                    <th [nzWidth]="'70px'">List Order</th>
                                    <th [nzWidth]="'250px'">Product Name</th>
                                    <th [nzWidth]="'70px'">Web Active</th>
                                    <th [nzWidth]="'70px'">Action</th>
                                  </tr>
                                </thead>
                                <tbody class="text-color-secondary-font text-xs">
                                  @for (data of categoriesList; track data) {
                                    <tr>
                                      <td>{{ data.listOrder }}</td>
                                      <td>{{ data.productName }}</td>
                                      <td>
                                       @if(data.webActive==true) {
                                        <img src="../imgs/Check boxTrue.svg" alt="trueIcon">
                                       }@else{
                                        <img src="../imgs/CheckboxFalse.svg" alt="falseIcon">
                                       }
                                      </td>
                                      <td>
                                       <span class="flex gap-3">
                                        <a href="#"> <img src="../imgs/Edit-Icon.svg" alt="trueIcon"></a>
                                        <a href="#" ><img src="../imgs/Delete-Icon.svg" alt="trueIcon"></a>
                                       </span>         
                                      </td>
                                    </tr>
                                  }
                                </tbody>
                            </nz-table> -->
                            
                        <form nz-form [formGroup]="editCategoryProductForm" (ngSubmit)="submitForm()">
                            
                            <nz-table #dataTable [nzData]="categoriesList" nzShowPagination="true"
                                class="rounded-lg"
                                [nzScroll]="{ x: 'w-full' }"
                                nzBordered="true">
                                <thead class="text-xs">
                                    <tr>
                                    <th [nzWidth]="'70px'">List Order</th>
                                    <th [nzWidth]="'250px'">Product Name</th>
                                    <th [nzWidth]="'70px'">Web Active</th>
                                    <th [nzWidth]="'70px'">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-color-secondary-font text-xs">
                                    @for (data of categoriesList; track data) {
                                    <tr>
                                        <!-- List Order -->
                                        <td>
                                        @if(editingId === data.listOrder) {
                                            <input nz-input formControlName="listOrder" value="listOrder" type="number" />
                                        } @else {
                                            {{ data.listOrder }}
                                        }
                                        </td>

                                        <!-- Product Name -->
                                        <td>
                                        @if(editingId === data.listOrder) {
                                            <input nz-input formControlName="productName" value="productName" type="text">
                                        } @else {
                                            {{ data.productName }}
                                        }
                                        </td>

                                        <!-- Web Active -->
                                        <td>
                                        @if(editingId === data.listOrder) {
                                            <label nz-checkbox formControlName="webActive" nzValue="webActive"></label>
                                        } @else {
                                            <img *ngIf="data.webActive" src="../imgs/Check boxTrue.svg" alt="trueIcon">
                                            <img *ngIf="!data.webActive" src="../imgs/CheckboxFalse.svg" alt="falseIcon">
                                        }
                                        </td>

                                        <!-- Actions -->
                                        <td>
                                        <span class="flex gap-3">
                                            @if(editingId === data.listOrder) {
                                            <a (click)="saveEdit(data)"> Save</a>
                                            <a (click)="cancelEdit()"> Cancel</a>
                                            } @else {
                                            <a (click)="startEdit(data)"> <img src="../imgs/Edit-Icon.svg" alt="Edit Icon"></a>
                                            <a href="#"><img src="../imgs/Delete-Icon.svg" alt="Delete Icon"></a>
                                            }
                                        </span>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </nz-table>

                        </form>

                        </div>
                    </div>
                </div>   
        </form>
</div>  
      <!-- Add product modal -->
<nz-modal [(nzVisible)]="isVisibleAddProductModal" 
    [nzTitle]="addProductTitletemplate"
    (nzOnCancel)="handleCancel()"
    [nzFooter]="null"
    nzClosable="false"
    nzWidth="30%"
    >
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="addCategoryProductForm">
            <div class="grid grid-cols-1 px-3 py-1 gap-3">
                <nz-form-item>
                    <nz-form-label [nzNoColon]="true">List Order</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="listOrder" class="w-full" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzNoColon]="true">Product Name</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="productName" class="w-full" />
                    </nz-form-control>
                </nz-form-item>
                <div class=" flex justify-center">
                    <nz-form-label [nzNoColon]="true">Web Active</nz-form-label>
                    <nz-switch formControlName="webActive"></nz-switch>
                </div>
                <div class="flex justify-end gap-3 mt-5">
                    <button nz-button nzType="default"
                    (click)="handleCancel()">
                      Cancel
                    </button>
                    <button
                      (click)="addCategoryProductSubmitForm()"                  
                      nz-button
                      class="text-white"
                      nzType="primary"
                    >
                    Save
                    </button>
                </div>
            </div>
            
        </form>
    </ng-container>
</nz-modal>
<ng-template #addProductTitletemplate>
    <span class="text-gray-600">Add Product</span>
</ng-template>


