.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}


.ant-checkbox-inner {
    margin-left: 70px !important;
}
.nz-checkbox-wrapper-price {
    align-items: flex-end !important;
    margin-bottom: 12px !important;;
}