<?xml version="1.0" encoding="utf-8"?>
<log4net debug="true">
	<root>
		<level value="ALL" />
		<!--<appender-ref ref="aiAppender" />-->
		<appender-ref ref="fileAppender" />

	</root>
	<!--<appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
		<InstrumentationKey>eb95282a-de5f-4424-83a6-d800858cd277</InstrumentationKey>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>-->
	<appender name="fileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="D:\Akkomplish\CousinPCMS\Logs\logs.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value=".yyyyMMdd.log" />
		<maximumFileSize value="5MB" />
		<staticLogFileName value="true" />
		<lockingModel type="log4net.Appender.RollingFileAppender+MinimalLock" />
		<maxSizeRollBackups value="-1" />
		<countDirection value="1" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level [%thread] %logger - %message%newline%exception" />
		</layout>
	</appender>
</log4net>
