

<div class="grid grid-cols-1 md:grid-cols-5">
        <nz-form-item>
            <nz-form-label [nzNoColon]="true" >Search</nz-form-label>
            <nz-form-control>
                <nz-input-group [nzSuffix]="suffixIcon">
                    <input nz-input [(ngModel)]="searchValue" (ngModelChange)="onSearch()" />
                </nz-input-group>
                <!-- Icon for Search -->
                <ng-template #suffixIcon>
                    <i nz-icon nzType="search"></i>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
</div>
<div class="grid grid-cols-1 md:grid-cols-4 gap-3 mb-2">
    <div class="grid grid-cols-1 md:grid-cols-1 ">
        <nz-form-item>
            <nz-form-label  [nzNoColon]="true" nzFor="skuName" >Sku Name</nz-form-label>
            <nz-form-control >
                <input nz-input [(ngModel)]="skuName" maxlength="100" [disabled]="true"/>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <nz-form-item>
            <nz-form-label  [nzNoColon]="true"></nz-form-label>
            <nz-form-control >
                <input nz-input [(ngModel)]="skuId"  [disabled]="true"/>
            </nz-form-control>
        </nz-form-item>
    </div>
  
</div>

<nz-table #headerTable [nzData]="relatedSkusList" nzSize="small" nzBordered [nzShowPagination]="false" [nzFrontPagination]="false"
      [nzScroll]="{ y: '660px' }">
    <thead>
      <tr>
        <th nzWidth="200px">Related</th>
        <th>RelationType</th>
        <th>RelatedSkuName</th>
        <th>ManufacturerRef</th>
        <th>ITEM_NUMBER</th>
        <th>Obsolete</th>
        <th>Unavaliable</th>
      </tr>
    </thead>
    <tbody>
      @for (data of headerTable.data; track $index) {
        <tr >
            <td>{{ data.relatedItemNo }}</td>
            <td>{{ data.relationType }}</td>
            <td>{{ data.relatedSKUName }}</td>
            <td>{{ data.itemManufactureRef }}</td>
            <td>{{ data.itemNo }}</td>
            <td><label nz-checkbox [(ngModel)]="data.itemObsolte"  [disabled]="true"></label></td>
            <td><label nz-checkbox [(ngModel)]="data.itemIsUnavailable" [disabled]="true"></label></td>
        </tr>
      }
    </tbody>
</nz-table>