<div class="p-4 bg-white rounded-lg m-5">
    <span >Product Form</span>

    <!-- Tabs -->
    <nz-tabset [(nzSelectedIndex)]="activeTab" [nzTabBarExtraContent]="extraTemplate">
      <nz-tab nzTitle="Product Details">
        <cousins-product-details [productData]="productData" ></cousins-product-details>
      </nz-tab>
  
      <!-- Catalogue Options Tab -->
      <nz-tab nzTitle="SKUs">
       <cousins-skus-list ></cousins-skus-list>
      </nz-tab>
    </nz-tabset>

    <ng-template #extraTemplate>
            <button nz-button nzType="default" class="" (click)="cancle()">
              Cancel
            </button>
            <button nz-button nzType="default" class="" [nzLoading]="deleteLoading" (click)="delete()">
              Delete
            </button>
            <button nz-button nzType="primary" class="text-white"  [nzLoading]="loading"  (click)="saveDetails()">
              Save
            </button>
    </ng-template>
</div>
  