<div class="bg-white rounded-lg m-5">
    <label class="px-4 pt-3 mb-0 [color:var(--color-primary-font)] text-sm font-medium">Product Form</label>

    <nz-spin [nzSpinning]="loading">
      <!-- Tabs -->
      <nz-tabset [(nzSelectedIndex)]="activeTab" [nzTabBarExtraContent]="extraTemplate">
        <nz-tab nzTitle="Product Details">
          <cousins-product-details [productData]="productData" ></cousins-product-details>
        </nz-tab>
    
        <nz-tab nzTitle="SKUs">
        <cousins-skus-list ></cousins-skus-list>
        </nz-tab>
      </nz-tabset>

      <ng-template #extraTemplate>
        <div class="flex gap-x-3 mb-2 ">
              <button nz-button nzType="default" class="" (click)="cancle()">
                Cancel
              </button>
              <button nz-button nzType="default" class="" [nzLoading]="deleteLoading" (click)="delete()">
                Delete
              </button>
              <button nz-button nzType="primary" class="text-white me-3"  [nzLoading]="btnLoading"  (click)="saveDetails()">
                Save
              </button>
        </div>
      </ng-template>
  </nz-spin>
</div>
  