<div class="px-4 pt-1">
  <nz-table #headerTable [nzData]="skusList" nzSize="small" nzBordered [nzShowPagination]="false" [nzLoading]="loading"
    [nzFrontPagination]="false" class="no-header-scroll">
    <thead>
      <tr>
        <th nzWidth="40px"></th>
        <th nzWidth="200px">Sku Name</th>
        <th nzWidth="200px">ManufacturerRef</th>
        <th nzWidth="100px">ITEM_NUMBER</th>
        <th nzWidth="100px">List Order</th>
        <th nzWidth="60px">Obsolete</th>
        <th nzWidth="60px">Unavailable</th>
        <th nzWidth="60px">Cat Active</th>
        <th nzWidth="90px">TemplateID</th>
        <th nzWidth="150px">AltSku Name</th>
        <th nzWidth="100px">Commodity Code</th>
      </tr>
    </thead>
    <tbody>
      @for (data of headerTable.data; track $index) {
      <tr (click)="onRowSelect(data)" [class.selected-row]="selectedRow === data">

        <!-- Play Icon for Row Selection -->
        @if(selectedRow === data) {
        <td (click)="onRowSelect(data)">
          <nz-icon nzType="caret-right" nzTheme="outline" style="font-size: 16px;" />
        </td>
        } @else {
        <td></td>
        }
        <td>{{ data.skuName }}</td>
        <td>{{ data.akiManufacturerRef }}</td>
        <td>{{ data.akiitemid }}</td>
        <td>{{ data.akiListOrder }}</td>
        <td><label nz-checkbox [(ngModel)]="data.akiObsolete" [disabled]="true"></label></td>
        <td><label nz-checkbox [(ngModel)]="data.salesBlocked" [disabled]="true"></label></td>
        <td><label nz-checkbox [(ngModel)]="data.akiSKUIsActive" [disabled]="true"></label></td>
        <td>{{ data.akiTemplateID }}</td>
        <td>{{ data.akiAltSKUName }}</td>
        <td>{{ data.akiCommodityCode }}</td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>