@import "tailwindcss" important;

@theme {
    --color-primary-theme: #21b6e1;
    --color-primary-theme-hover: #4acfed;
    --color-primary-font: #343941;
    --color-secondary-font: #67768c;
    --color-border: #cbd5e0;
    --color-light-border: #e2e8f0;
    --color-place-holder: #cbd5e0;
    --color-disable: #eff2f7;
    --color-disable-font: #a3b1c0;
    --color-danger: #ff4747;
    --color-success: #1cb253;
    --color-white: #ffffff;
    --color-bg: #edeff4;
    --color-table-heightlighted: #e9f8fc;
    --color-highlighted: #9C6800;
    --shadow-cousins-box: 0px 1px 3px 0px #00000029;
    --color-bg-light: #c9fbff
}

* {
    scrollbar-width: thin !important;
    scrollbar-color: var(--color-disable-font) var(--color-bg) !important;
}

body {
    font-size: 14px;
    font-weight: 500 !important;
    color: var(--color-primary-font);
    background-color: var(--color-bg);
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
    /* background-color: var(--color-primary-theme-hover) !important; */
    /* color: var(--color-highlighted) !important; */
}

nz-icon .ant-tree-switcher-line-icon,
.anticon-file {
    display: none !important;
    
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; 
}

label {
    display: block;
    font-size: 12px !important; /* Font size for labels */
    font-weight: 500; /* Medium font weight */
    color: var(--color-secondary-font);
    margin-bottom: 5px; /* Space between label and input */
}

.ant-form-item-explain-error {
    color: var(--color-danger);
    font-size: 12px;
}

.ant-form-item {
    display: block;
    margin-bottom: 0px;
}


/* Label Styling */
.ant-form-item-label > label
{
    font-size: 12px !important; /* Font size for labels */
    font-weight: 500; /* Medium font weight */
    color: var(--color-secondary-font);
    margin-bottom: 5px; /* Space between label and input */
}
  
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-size: 12px;
}

.ant-tabs-tab-btn {
    font-size: 12px; 
    font-family: var(--font-family);
    color: var(--color-secondary-font);
}


/* Checkbox Wrapper */
.nz-checkbox-wrapper {
    display: flex;
    align-items: center;
}

  /* Label Styling (Text before Checkbox) */
.nz-checkbox-wrapper label {
    display: flex;
    color: var(--color-secondary-font);
    flex-direction: row-reverse; /* Moves checkbox after text */
    padding-left: 0px;
}

.ant-checkbox + span  {
    padding-left: 0px !important;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 33px;
}

.ant-table-thead .ant-table-cell {
    background:#CBD5E1 !important;
    color: var(--color-primary-font);
    font-size:  0.75rem;
}

.ant-table-tbody .ant-table-cell {
    color: var(--color-secondary-font) !important;
}
.ant-modal-content{
    border-radius: 5px;
}
.ant-modal-header{
    border-radius: 5px 5px 0 0;
}

.ant-table-pagination.ant-pagination {
    margin: 10px 0;
    font-size: 12px;
}
.ant-tabs-nav-wrap {
    padding: 0px 16px !important;
}
.no-header-scroll .ant-table-header {
    overflow-y: hidden !important;
    scrollbar-width: none;
  }
  
  .no-header-scroll .ant-table-header::-webkit-scrollbar {
    display: none;
  }
  