// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import '../node_modules/ng-zorro-antd/ng-zorro-antd.less';

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@primary-color: #21B6E1;
@label-color: #67768C;
@label-required-color: #FF4747;
@tooltip-bg: #21B6E1;
@icon-color: #67768C;
@disabled-color: #67768c;
@disabled-bg: #EFF2F7;


@border-color-base: #CBD5E0;
@border-color-split: @border-color-base;
@border-radius-base: 5px;

@input-color: @label-color;
@input-height-base: 26px;
@input-border-color: #CBD5E0;
@input-placeholder-color: #CBD5E0;
@input-disabled-color: #67768C;


@font-size-base: 10px;
@form-item-margin-bottom: 0px;
@form-vertical-label-margin: 8px 0;
@form-item-label-height: 0;


@modal-body-padding: 15px 15px;

@btn-primary-color: #fff;
@btn-primary-bg: @primary-color;
@btn-height-base: 26px;
@btn-border-radius-base: 3px;
@btn-default-border: #CBD5E0;

@drawer-body-padding: 16px;

@segmented-selected-bg: #21B6E1;
@segmented-bg: #ffffff;
@segmented-hover-bg: #ffffff;
@segmented-label-color: fade(@black, 65%);

@picker-panel-cell-height: 38px;
@picker-panel-cell-width: 40px;
@picker-text-height: 50px;
@picker-time-panel-column-width: 96px;
@picker-time-panel-column-height: 244px;
@picker-time-panel-cell-height: 40px;
@picker-border-color: #CBD5E0;


@table-row-hover-bg:none;


@select-height-base: 26px;
@select-item-selected-color: @label-color;
@select-dropdown-font-size: 12px;
@select-border-color: #CBD5E0;
@select-item-selected-font-weight: 500;


@progress-default-color: @primary-color;
@progress-remaining-color: #cbd5e0;
@progress-info-text-color:#67768c;
@progress-text-font-size: 1.3em;
// tree view
@tree-title-height: 19px;

@table-padding-vertical: 9px;
@table-padding-horizontal: 9px;
@table-header-bg: #e2e8f0;