<div class="product-container">
    <div class="product-header">
      Product Name
    </div>
    
    @if (loading) {
        <div class="loading-container">
          <nz-spin nzSize="large"></nz-spin>
        </div>
    }
  
    <!-- Product List -->
    @if (!loading && products && products.length > 0) {
        <ul class="product-list divide-y divide-gray-200">
          @for (product of products; track product.akiProductID) {
                <li *ngIf="product" class="product-item" (click)="onProductClick(product.akiProductID)"  
                    [ngClass]="{'selected': selectedProduct === product?.akiProductID}">
                    {{ product.akiProductName}}
                </li>
            }
        </ul>
    } @else if (!loading) {
        <div class="empty-message h-48">
            {{ displayText }}
        </div>
    }
</div>