<div class="product-container">
    <div class="product-header">
      Product Name
    </div>
    
    <nz-spin [nzSpinning]="loading">

    <!-- Product List -->
    @if (products && products.length > 0) {
        <ul class="product-list divide-y divide-gray-200">
          @for (product of products; track $index) {
            @if (product) {
                <li class="product-item" (click)="onProductClick(product)"  
                    [ngClass]="{'bg-bg-light': selectedProduct == product?.akiProductID}">
                    {{ product.akiProductName}}
                </li>
            }
        }
        </ul>
    } @else {
        <div class="empty-message h-48">
            {{ displayText }}
        </div>
    }
    </nz-spin>
</div>