<div class="bg-white rounded-lg shadow-md m-5">
  <nz-spin [nzSpinning]="loading">
    <div class="flex justify-between items-center p-4 pb-1">
      <span>Attribute</span>
      <div class="flex gap-x-3">
          <button nz-button nzType="default" [routerLink]="'/home'" class=""> Cancel </button>
          <button nz-button nzType="primary" class="text-white" [routerLink]="'/attributes/add'">Add </button>
      </div>
    </div>
    <hr class="mt-2 mb-2 border-light-border">

    <div class="p-4">
      <cousins-attributes-list></cousins-attributes-list>
    </div>
  </nz-spin>
</div>

