<!-- Use the Common Loading Component -->
<div class="rounded-md bg-light-border p-2 text-xs">Department & Category</div>
<nz-spin [nzSpinning]="loading">
  @if (nodes.length > 0) {
  <nz-tree
    [nzData]="nodes"
    nzAsyncData
    nzDraggable
    nzShowLine
    [nzShowIcon]="false"
    (nzExpandChange)="nzEvent($event)"
    (nzOnDrop)="nzEvent($event)"
    (nzClick)="selectCategory($event.node)"
    [nzTreeTemplate]="nzTreeTemplate"
    [nzSelectedKeys]="selectedValue"
    [nzExpandedKeys]="defaultExpandedKeys"
  >
  </nz-tree>
  <ng-template #nzTreeTemplate let-node let-origin="origin">
    <span class="custom-node" (contextmenu)="onRightClick($event, node)" nzTooltipTitle="Right click to add AttributeSet" nz-tooltip>
      <span class="node-icon">
        <ng-container>
          <!-- 🟢 MAIN PARENT CATEGORY (Partition Icon) -->
          @if (node.level === 0) {
          <nz-icon nzType="partition" nzTheme="outline"></nz-icon>
          } @else if (node.isLeaf) {
          <!-- 🟡 Folder Icon ONLY for Actual Leaf Nodes -->
          <nz-icon [nzType]="node.isSelected ? 'folder-open' : 'folder'" nzTheme="outline"></nz-icon>
          }
        </ng-container>
      </span>
      <span class="node-name">{{ node.title }}</span>
    </span>
  </ng-template>
  } @else {
  <div class="empty-message h-48">
    {{ displayText }}
  </div>
  }
</nz-spin>

<!-- Category-attributes -->
<div>
  <nz-modal
    [(nzVisible)]="categoryAttriisVisible"
    nzTitle="Attribute set form"
    [nzFooter]="null"
    nzClosable="true"
    class="content-center"
    nzWidth="1100px"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
  >
    <ng-container *nzModalContent>
      <cousins-category-attribute [categoryData]="categoryData"></cousins-category-attribute>
    </ng-container>
  </nz-modal>
</div>
