<div class="p-4 bg-white rounded-lg m-5">
    
    <span *ngIf="activeTab === 0">Sku Form</span>
    <span *ngIf="activeTab === 1">Related Skus</span>
    <span *ngIf="activeTab === 2">All Linked Attributes</span>

    <!-- Tabs -->
    <nz-tabset [(nzSelectedIndex)]="activeTab" [nzTabBarExtraContent]="extraTemplate">

      <nz-tab nzTitle="Sku">
        <cousins-sku-details [skuData]="skuData"></cousins-sku-details>
      </nz-tab>
  
      <nz-tab nzTitle="Related Skus">
       <cousins-related-sku ></cousins-related-sku>
      </nz-tab>

      <nz-tab nzTitle="All Linked Attributes">
        <cousins-attribute-sku ></cousins-attribute-sku>
       </nz-tab>
    </nz-tabset>

    <ng-template #extraTemplate>
        <div class="flex gap-x-3 mb-2">
            <button nz-button nzType="default" class="" (click)="cancle()">
              Cancel
            </button>
            <button nz-button nzType="default" class="" [nzLoading]="deleteLoading" (click)="delete()">
              Delete
            </button>
            <button nz-button nzType="primary" class="text-white"  [nzLoading]="loading" >
              Save
            </button>
        </div>
    </ng-template>
</div>
  