<div class="bg-white rounded-lg m-5 pb-4">
  @if(activeTab === 0) {
  <label class="px-4 pt-3 mb-0 [color:var(--color-primary-font)] text-sm font-medium">Sku Form</label>
  } @else if (activeTab === 1) {
  <label class="px-4 pt-3 mb-0 [color:var(--color-primary-font)] text-sm font-medium">Related Skus</label>
  } @else {
  <label class="px-4 pt-3 mb-0 [color:var(--color-primary-font)] text-sm font-medium">All Linked Attributes</label>
  }

  <nz-spin [nzSpinning]="loading">
    <!-- Tabs -->
    <nz-tabset [(nzSelectedIndex)]="activeTab" [nzTabBarExtraContent]="extraTemplate">
      <nz-tab nzTitle="Sku">
        <cousins-sku-details [skuData]="skuData"></cousins-sku-details>
      </nz-tab>

      <nz-tab nzTitle="Related Skus">
        <cousins-related-sku [skuData]="skuData"></cousins-related-sku>
      </nz-tab>

      <nz-tab nzTitle="All Linked Attributes">
        <cousins-attribute-sku [skuData]="skuData"></cousins-attribute-sku>
      </nz-tab>
    </nz-tabset>

    <ng-template #extraTemplate>
      
      <div class="flex gap-x-3 mb-2">
        @if(activeTab === 0) {
        <button nz-button nzType="default" class="" (click)="cancel()">Close</button>
        <!-- <button
          nz-button
          nzType="default"
          class=""
          [nzLoading]="deleteLoading"
          nz-popconfirm
          [nzPopconfirmTitle]="'Are you sure you want to delete this Sku?'"
          (nzOnConfirm)="delete()"          
          [nzIcon]="iconTpl"
          nzPopconfirmPlacement="left"
        >
          Delete
        </button> -->
        <button nz-button nzType="primary" class="text-white me-3" [nzLoading]="btnSaveLoading" (click)="saveDetails()">Save</button>
        <ng-template #iconTpl>
          <nz-icon nzType="question-circle-o" class="text-danger me-2" />
        </ng-template>
      }@else {
        <button nz-button nzType="default" class="me-4" (click)="cancel()">Close</button>
      }
      </div>
      
    </ng-template>
  </nz-spin>
</div>
