@import "tailwindcss" important;

@theme {
  --color-primary-theme: #21b6e1;
  --color-primary-theme-hover: #4acfed;
  --color-primary-theme-active: #c9fbff;
  --color-primary-font: #343941;
  --color-secondary-font: #67768c;
  --color-border: #cbd5e0;
  --color-light-border: #e2e8f0;
  --color-place-holder: #cbd5e0;
  --color-disable: #eff2f7;
  --color-disable-font: #a3b1c0;
  --color-danger: #ff4747;
  --color-success: #1cb253;
  --color-white: #ffffff;
  --color-bg: #edeff4;
  --color-table-heightlighted: #e9f8fc;
  --color-highlighted: #9c6800;
  --shadow-cousins-box: 0px 1px 3px 0px #00000029;
  --color-bg-light: #c9fbff;
}

body {
  font-size: 14px;
  font-weight: 500 !important;
  color: var(--color-primary-font);
  background-color: var(--color-bg);
}

@utility main-container {
  background-color: var(--color-white) !important;
  box-shadow: var(--shadow-cousins-box) !important;
  border-radius: 8px !important;
  margin: 8px !important;
  margin-bottom: 0 !important;
  min-height: calc(100vh - 80px) !important;
}

.ant-tabs-ink-bar {
  height: 3px !important;
}

.ant-tree-treenode .ant-tree-draggable-icon {
  display: none !important;
}

.ant-tree-title {
  color: var(--color-primary-font) !important;
}

.ant-tree .ant-tree-node-content-wrapper {
  padding-inline: 0 !important;
}

.bg-primary-theme-active .ant-table-cell-fix-left {
  background: var(--color-primary-theme-active) !important;
}

.bg-primary-theme-active .ant-table-cell-fix-left:hover {
  background: var(--color-primary-theme-active) !important;
}

.attribute-list .ant-list-header {
  padding: 0px !important;
}

.ant-list-items {
  height: 200px;
  overflow-y: scroll;
}
.ant-tabs-nav-wrap {
  padding: 0px 16px !important;
}
.additional-image-upload .ant-upload-wrapper.ant-upload-picture-card-wrapper {
  display: flex;
  justify-content: center;
}

.additional-image-upload .ant-upload-list-item-container {
  margin: auto;
}

.additional-image-upload .ant-form-item-explain-error {
  justify-self: center !important;
}

.additional-image-upload , .additional-link .ant-modal-content {
  padding: 10px 12px !important;
}

.tiptap-wrapper ul,
.tiptap-wrapper ol {
  list-style: disc;  /* Use disc (bullet) style for unordered lists */
}

.tiptap-wrapper ol {
  list-style: decimal;  /* Use decimal (numbering) style for ordered lists */
}

/* Optionally style the list items as well */
.tiptap-wrapper li {
  margin-left: 1.25rem;  /* Adjust left margin to add spacing */
  padding-left: 0.5rem;  /* Optional, add padding if needed */
}

.tiptap-wrapper h1 {
  font-size: 2rem; /* Example: Tailwind's text-2xl */
  font-weight: 700;
  margin: 1rem 0;
}

.tiptap-wrapper h2 {
  font-size: 1.5rem; /* Example: Tailwind's text-xl */
  font-weight: 600;
  margin: 0.75rem 0;
}

.tiptap-wrapper h3 {
  font-size: 1.25rem; /* Example: Tailwind's text-lg */
  font-weight: 600;
  margin: 0.5rem 0;
}

.ant-spin-container .ant-table-container .ant-table-body {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
}