<div class="bg-white rounded-lg m-5">
  <div class="flex justify-between items-center p-4 pb-1">
    <span>Link Maintenance</span>
    @if(!showForm) {
    <button nz-button nzType="primary" (click)="goBack()">Back</button>
    }
  </div>
  <hr class="mt-2 mb-2 border-light-border" />
  <div class="p-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <!-- Link List Section -->
      <div class="bg-white p-4">
        <!-- Header -->
        <div class="flex justify-between items-center mb-2">
          <label>Link for</label>
          <button nz-button nzType="primary" (click)="onAdd()">Add</button>
        </div>

        <!-- List -->
        <nz-spin [nzSpinning]="loadingdata">
          <ul class="border-light-border border rounded divide-y divide-light-border max-h-[90%]">
            @if (links && links.length > 0) {
              @for(link of links; track $index) {
              <li class="flex justify-between items-center px-2 py-1 hover:bg-gray-50">
                  <span class="text-secondary-font truncate">
                  {{ link.linkURL }}
                  </span>
                  <button nz-button nzType="text" nzDanger (click)="deleteLink(link, $index)" class="ml-2">
                  <nz-icon nzType="delete" class="text-danger" nzTheme="outline" />
                  </button>
              </li>
              }
            <li class="h-20"></li>
            } @else {
            <div class="flex justify-center items-center h-48">
              {{ displayText }}
            </div>
            }
          </ul>
        </nz-spin>
      </div>

      <!-- Link Creator Section -->
       @if (showForm) {
        <div class="border-light-border border rounded mt-2 mb-2 p-4">
          <label class="block mb-2">Link Creator</label>
          <form nz-form [formGroup]="linkForm" class="space-y-4">
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true" [nzSpan]="6">Link Text</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <input nz-input formControlName="linkText" name="text" />
              </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true" [nzSpan]="6">Link URL</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <input nz-input formControlName="linkURL" name="url" (input)="checkDuplicateUrl()"/>
                @if (isDuplicateUrl) {
                  <div class="text-danger mt-1">
                    This URL already exists in the table.
                  </div>
                }
              </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true" [nzSpan]="6">Tooltip</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <input nz-input formControlName="tooltip" name="tooltip" />
              </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
              <nz-form-label nzRequired [nzNoColon]="true" [nzSpan]="6">Link Type</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <nz-select formControlName="linkType" name="type">
                  <nz-option nzValue="Youtube" nzLabel="Youtube"></nz-option>
                  <nz-option nzValue="Web site" nzLabel="Web site"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
  
            <div class="flex justify-end gap-2">
              <button nz-button (click)="cancel()">Cancel</button>
              <button nz-button nzType="primary" [disabled]="isDuplicateUrl" [nzLoading]="loading" (click)="save()">Save</button>
            </div>
          </form>
        </div>
       }
    </div>
  </div>
</div>
