<div class="bg-white rounded-lg m-5 overflow-auto max-h-[90vh]">
  <div class="flex flex-wrap justify-between items-center p-4 pb-1">
    <span>Additional Images</span>
    <button nz-button nzType="primary" (click)="goBack()">Back</button>
  </div>
  <hr class="mt-2 mb-2 border-light-border" />
  <div class="p-4">
    <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4 ">
      <!-- Link List Section -->
      <div class="bg-white p-4">
        <!-- Header -->
        <div class="flex justify-between items-center mb-2">
          <label>Additional Images</label>
          <button nz-button nzType="primary" (click)="onAdd()">Add</button>
        </div>

        <!-- List -->
        <ul class="border-light-border border rounded divide-y divide-light-border max-h-[60vh] overflow-y-auto">
          @if (loadingdata) {
            <div class="loading-container">
              <nz-spin nzSize="large"></nz-spin>
            </div>
          }  @if (!loadingdata && fileList && fileList.length > 0) {
            @for(image of fileList; track $index) {
            <li class="flex justify-between items-center px-2 py-1 hover:bg-gray-50">
              <span class="text-secondary-font truncate">
                {{ image.imageURL }}
              </span>
              <button nz-button nzType="text" nzDanger (click)="deleteImage(image, $index)" class="ml-2">
                <nz-icon nzType="delete" class="text-danger" nzTheme="outline" />
              </button>
            </li>
            }
          <li class="h-20"></li>
          } @else if (!loadingdata) {
            <div class="flex justify-center items-center h-48">
              {{ displayText }}
            </div>
            }
        </ul>
      </div>

       @if(showForm) {
        <div class="mb-2 p-4">
          <label class="block mb-2">Upload image to ftp site</label>
          <div class="border-light-border border rounded mt-2">
            <div class="p-4 space-y-6">
              
              <div class="w-full">
                <nz-form-item class="flex items-end gap-4">
                  <div class="flex-1">
                    <nz-form-label [nzNoColon]="true">Image URL</nz-form-label>
                    <nz-form-control>
                      <input nz-input [(ngModel)]="imageUrl" name="imageUrl" readonly required/>
                    </nz-form-control>
                  </div>
                  <input type="file" #fileInput class="hidden" (change)="onFileSelect($event)"/>
                  <button nz-button nzType="primary" (click)="fileInput.click()" class="mt-1">Browse</button>
                </nz-form-item>
                  @if (isDuplicateUrl) {
                    <div class="text-danger mt-1">
                      This Image already exists.
                    </div>
                  }
              </div>
              <div class="flex items-end">

                <nz-upload class="w-auto" nzListType="picture-card" [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload">
                  @if(!avatarUrl) {
                    <ng-container>
                      <div class="upload-box ">
                        <div class="flex justify-center items-center w-full h-full text-gray-400 text-xl">
                          <i nz-icon nzType="plus"></i>
                        </div>
                      </div>
                    </ng-container>
                  }
                  @if(avatarUrl) {
                    <ng-container>
                      <img [src]="avatarUrl" alt="image thumbnail" class="w-full max-w-[150px] max-h-[150px] rounded" />
                    </ng-container>
                  }
                </nz-upload>

                <!-- Upload Button -->
                <button class="mb-2" nz-button nzType="primary" [nzLoading]="loading" [disabled]="isDuplicateUrl" (click)="uploadFile()">Upload</button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
