
<div class="grid grid-cols-1 md:grid-cols-2">
    <nz-table #headerTable [nzData]="attributeList" nzSize="small" nzBordered [nzShowPagination]="false" [nzFrontPagination]="false"
    [nzScroll]="{ y: '660px' }">
  <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th>AttributeName</th>
      <th>Attribute Description</th>
      <th>Search Type</th>
      <th>Show As Category</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (data of headerTable.data; track $index) {
      <tr >
          <td></td>
          <td>{{ data.attributeName }}</td>
          <td>{{ data.attributeDescription }}</td>
          <td>{{ data.searchType }}</td>
          <td>
              <label nz-checkbox [(ngModel)]="data.showAsCategory" [disabled]="true"></label>
          </td>
          <td>
              <nz-icon nzType="delete" nzTheme="outline" class="w-5 h-4 text-danger cursor-pointer" (click)="deleteAttribute(data)"/>
          </td>
      </tr>
    }
  </tbody>
</nz-table>
</div>


