<div class="h-[calc(100vh-100px)]">
  <nz-spin [nzSpinning]="loading">
    <div class="grid grid-cols-1 md:grid-cols-2 items-start md:items-center gap-y-4 p-4 pb-1 ">

      <!-- Left section: Attribute + Search -->
      <div class="flex flex-wrap items-center gap-2">
        <span class="me-3">Attribute list</span>
        <!-- <nz-form-label [nzNoColon]="true" class="mb-0 ">Search</nz-form-label> -->
        <nz-form-item class="mb-0 max-w-xs w-full">
          <nz-form-control>
            <nz-input-group [nzSuffix]="inputClearTpl">
              <input nz-input type="text" class="rounded w-full" [(ngModel)]="searchValue" (input)="onSearch()"
                #searchBox />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <ng-template #inputClearTpl>
          @if (searchValue) {
          <span aria-hidden="true" nz-icon nzTheme="fill" class="cursor-pointer" nzType="close-circle"
            (click)="clearSearchText()"></span>
          } @else {
          <nz-icon nzType="search" />
          }
        </ng-template>
      </div>
      <!-- Right section: Buttons -->
      <div class="flex justify-start md:justify-end gap-x-3">
        <button nz-button nzType="default" [routerLink]="'/home'">Close</button>
        <button nz-button nzType="primary" class="text-white" [routerLink]="'/attributes/add'">Add</button>
      </div>
    </div>

    <hr class="mt-2 border-light-border">
    <div class="grid grid-cols-1 p-4">
      <div class="attributeTable-border-none border border-light-border rounded-lg p-1">
        <nz-table #basicTable [nzData]="tableRows" nzSize="small" [nzShowPagination]="false" [nzScroll]="{x:'w-full'}"
          [nzPageSize]="50">
          <tbody class="pt-2 text-xs">
            <tr *ngFor="let row of basicTable.data">
              <td *ngFor="let attr of row" class="w-[200px] h-3">
                <span class="cursor-pointer text-secondary-font hover:text-primary-theme-hover pb-2"
                  (click)="editAttribute(attr)"> {{ attr?.attributeName || '' }}</span>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-spin>
</div>