<div class="pl-4">
    <form nz-form [formGroup]="catalogueForm" class="max-w-4xl rounded-lg">
        <div class="grid grid-cols-2 gap-2">
            <!-- Catalogue Active Checkbox -->
            <div class="col-span-2 flex items-center space-x-2">
                <label class="">Catalogue Active</label>
                <label nz-checkbox formControlName="akI_Catalogue_Active" ></label>
            </div>
        
            <!-- Layout Template Dropdown -->
            <nz-form-item class="col-span-2">
            <nz-form-label [nzNoColon]="true">Layout Template</nz-form-label>
            <nz-select formControlName="akI_Layout_Template" class="w-full bg-gray-100" >
                @for (option of layoutOptions; track option.templateCode) {
                    <nz-option  [nzValue]="option.templateCode" [nzLabel]="option.layoutDescription"></nz-option>
                }
            </nz-select>
            </nz-form-item>
        
            <!-- Colour Selection -->
            <nz-form-item class="flex-grow">
                <nz-form-label [nzNoColon]="true">Colour</nz-form-label>
                <input type="color" nz-input formControlName="akI_Color"  (input)="onColorChange($event, 'akI_Color')"/>
            </nz-form-item>

            <nz-form-item class="flex-grow">
                <nz-form-label [nzNoColon]="true">OR Enter hex colour value</nz-form-label>
                <input type="text" nz-input formControlName="akI_Color"  (input)="onHexChange($event, 'akI_Color')" maxlength="7"/>
            </nz-form-item>

            <!-- Featured Product Background Colour -->
            <nz-form-item class="flex-grow">
                <nz-form-label [nzNoColon]="true">Featured Product Background Colour</nz-form-label>
                <input type="color" nz-input formControlName="akI_Featured_Prod_BG_Color" (input)="onColorChange($event, 'akI_Featured_Prod_BG_Color')" />
            </nz-form-item>

            <nz-form-item class="flex-grow">
                <nz-form-label [nzNoColon]="true">OR Enter hex colour value</nz-form-label>
                <input type="text" nz-input formControlName="akI_Featured_Prod_BG_Color" (input)="onHexChange($event, 'akI_Featured_Prod_BG_Color')" maxlength="7"/>
            </nz-form-item>
        </div>
    </form>
</div>