<div class="p-4">
    <form nz-form [formGroup]="productForm">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-12 gap-12">
            <!-- Left Section -->
            <div class="lg:col-span-5 md:col-span-6">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <nz-form-item>
                            <nz-form-label  [nzNoColon]="true">Product Id</nz-form-label>
                            <nz-form-control>
                                <input nz-input formControlName="akiProductID" id="productId" />
                            </nz-form-control>
                        </nz-form-item>
                    
                        <!-- <nz-form-item>
                            <nz-form-label  [nzNoColon]="true">Category Id</nz-form-label>
                            <nz-form-control >
                                <input nz-input formControlName="akiCategoryID" id="categoryId"  />
                            </nz-form-control>
                        </nz-form-item> -->
                        <nz-form-item>
                            <nz-form-label [nzNoColon]="true" nzFor="categoryId">Category Id</nz-form-label>
                            <nz-form-control>
                              <nz-input-group [nzAddOnAfter]="ellipsisButton">
                                <input nzRequired nz-input id="categoryId"  formControlName="akiCategoryID" readonly />
                              </nz-input-group>
                              <ng-template #ellipsisButton>
                                <button class="border-0 h-5 w-10 text-center align-middle cursor-pointer" (click)="openCategoryModal()">...</button>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>  
                    </div>
                    
                    <div class="grid grid-cols-1">
                        <nz-form-item>
                                <nz-form-label nzRequired [nzNoColon]="true" nzFor="productName" [nzSm]="6" [nzXs]="24">Product Name</nz-form-label>
                                <nz-form-control >
                                <div class="input-wrapper">
                                    <input nz-input formControlName="akiProductName" maxlength="100" />
                                    <span class="char-count">
                                        {{ 100 - productForm.get('akiProductName')?.value?.length || 100 }}
                                    </span>
                                </div>
                                </nz-form-control>
                        </nz-form-item>
                    </div>
    
                    <div class="grid grid-cols-1">
                        <nz-form-item class="w-full">
                            <div class="flex flex-wrap justify-between items-center w-full mt-2">
                                <nz-form-label [nzNoColon]="true">Product Description</nz-form-label>
                                <!-- <button nz-button nzType="default" class="border border-gray-300 px-3 py-1 rounded-md mr-8">
                                    Spelling
                                </button> -->
                            </div>
                            <nz-form-control >
                                <div class="input-wrapper">
                                <textarea nz-input formControlName="akiProductDescription" maxlength="2000" class=""></textarea>
                                <span class="char-count">
                                    {{ 2000 - productForm.get('akiProductDescription')?.value?.length || 2000 }}
                                  </span>
                                  </div>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
    
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <!-- <div class="border border-gray-300 rounded-lg shadow-sm">
                            <div class="grid grid-cols-12">
    
                              <div class="col-span-1 border-b border-r border-gray-200 p-2"></div>
                          
                              <div class="col-span-2 border-b border-r border-gray-200 p-2">
                                   <label>Heading</label>
                              </div>
                              
                              <div class="col-span-3 border-b border-gray-200 p-2">
                                   <label> Product Text </label>
                               </div>
    
                              <div class="col-span-6 p-2 heading "></div>
                            </div>
                          
                            <div class="grid grid-cols-12">
                                <div class="col-span-1 border-r border-gray-200 p-2"></div>
                                <div class="col-span-2 border-r border-gray-200 p-2">
                                    <label> {{ productForm.get('akiProductHeading')?.value  }} </label> 
                                </div>
                                <div class="col-span-3 border-gray-200 p-2">
                                    <label>  {{ productForm.get('akiProductText')?.value }}</label>
                                </div>
                                <div class="col-span-6 p-2 heading"></div>
                            </div>
                        </div> -->
                        <nz-form-item>
                            <nz-form-label  [nzNoColon]="true">Heading</nz-form-label>
                            <nz-form-control >
                                <input nz-input formControlName="akiProductHeading"/>
                            </nz-form-control>
                        </nz-form-item>
    
                        <nz-form-item>
                            <nz-form-label  [nzNoColon]="true">Product Text</nz-form-label>
                            <nz-form-control >
                                <input nz-input formControlName="akiProductText"/>
                            </nz-form-control>
                        </nz-form-item>
    
                        <div class="nz-checkbox-wrapper nz-checkbox-wrapper-price">
                            <label formControlName="akiProductWebActive" nz-checkbox nzValue="false"> 
                                Web Active
                            </label >
                        </div>
                    </div>
    
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
                        <nz-form-item>
                            <nz-form-label  [nzNoColon]="true">List Order</nz-form-label>
                            <nz-form-control >
                                <input nz-input formControlName="akiProductListOrder" type="number"/>
                            </nz-form-control>
                        </nz-form-item>
                    
                        <!-- <div class="nz-checkbox-wrapper nz-checkbox-wrapper-price">
                            <label formControlName="akiProductWebActive" nz-checkbox nzValue="false"> 
                                Web Active
                            </label >
                        </div> -->
    
                        <nz-form-item class="w-full">
                            <nz-form-label nzFor="commodityCode"  [nzNoColon]="true">Commodity Code</nz-form-label>
                            <nz-form-control >
                                <!-- <input nz-input formControlName="akiProductCommodityCode" id="commodityCode"/> -->
                                <nz-select formControlName="akiProductCommodityCode" class="w-full" nzShowSearch >
                                    @for (commodity of commodityCode; track $index) {
                                        <nz-option  [nzValue]="commodity.commodityCode" [nzLabel]="commodity.commodityCode"></nz-option>
                                      }
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
    
                        <nz-form-item>
                            <nz-form-label nzFor="countryOfOrigin"  [nzNoColon]="true">Country of Origin</nz-form-label>
                            <nz-form-control>
                                <nz-select formControlName="akiProductCountryOfOrigin" class="w-full">
                                    @for (country of countries; track $index) {
                                        <nz-option  [nzValue]="country.code" [nzLabel]="country.name"></nz-option>
                                    }
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
    
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
                        <nz-form-item class="col-span-2">
                            <nz-form-label [nzNoColon]="true" >Image URL</nz-form-label>
                                <nz-form-control [nzErrorTip]="'Please enter a valid URL'">
                                <div class="flex items-center space-x-2 relative">
                                    <input nz-input formControlName="akiProductImageURL" class="w-full" maxlength="255"/>
                                      <!-- Upload Button -->
                                      <nz-upload
                                      nzAction=""
                                      [nzHeaders]="{ authorization: 'authorization-text' }"
                                      (nzChange)="onFileSelected($event)"
                                      [nzShowUploadList]="false"
                                      nzAccept=".png,.jpeg,.jpg"
                                  >
                                      <button nz-button [nzType]="'primary'" class="m-0 px-4 h-8 text-white">                                            
                                           Upload
                                      </button>
                                  </nz-upload>
                                    <span class="char-count">
                                    {{ 255 - productForm.get('akiProductImageURL')?.value?.length || 255 }}
                                    </span> 
                                </div>
                                </nz-form-control> 
                        </nz-form-item>
    
                        <!-- No of Additional Images -->
                        <nz-form-item class="w-full">
                            <nz-form-label  nzFor="additionalImages" [nzNoColon]="true" class="product-link">
                                <a href="products/additional-images" class="underline">No of Additional Images</a>
                            </nz-form-label>
                            <nz-form-control>
                                <input nz-input  id="additionalImages" [disabled]="true"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
    
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
                        <!-- Image Height -->
                        <nz-form-item class="w-full">
                            <nz-form-label nzFor="imageHeight" [nzNoColon]="true">Image Height</nz-form-label>
                            <nz-form-control>
                                <input nz-input formControlName="akiProductImageHeight" id="imageHeight" type="number" />
                            </nz-form-control>
                        </nz-form-item>
                    
                        <!-- Image Width -->
                        <nz-form-item class="w-full">
                            <nz-form-label nzFor="imageWidth" [nzNoColon]="true">Image Width</nz-form-label>
                            <nz-form-control>
                                <input nz-input formControlName="akiProductImageWidth" id="imageWidth" type="number" />
                            </nz-form-control>
                        </nz-form-item>
    
                         <!-- No of URL Links -->
                         <nz-form-item class="w-full">
                            <nz-form-label nzFor="urlLinks" [nzNoColon]="true" class="product-link">
                                <!-- <a href="products/link-maintenance" class="underline">No of URL Links</a> -->
                                <a (click)="goToLinkMaintenance()" class="underline">No of URL Links</a>
                            </nz-form-label>
                            <nz-form-control>
                                <input nz-input id="urlLinks" [disabled]="true" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    
                      <!-- Associated Products Section -->
                      <div class="mt-1">
                        <label >Associated Products</label>
                        <div class="border border-gray-300 rounded-lg p-2">
                            <div class="flex justify-end space-x-2">                                
                                <button nz-button nzType="primary" (click)="showAddProductModal()" class="text-white mr-0 ant-btn-category-add">Add</button>
                            </div>
                            <div class="pt-2">                                                       
                                <form nz-form [formGroup]="editAssociatedProductForm">
                                
                                    <nz-table #dataTable [nzData]="AdditionalProductList"
                                        class="rounded-lg no-header-scroll"
                                        [nzScroll]="{ x: '700px',
                                            y: '200px'
                                        }"
                                        nzBordered="true"
                                        [nzFrontPagination]="false"
                                        nzSize="small"
                                        [nzLoading]="isAdditionalPloading" >
                                        <thead class="text-xs ">
                                            <tr>
                                            <th [nzWidth]="'70px'">List Order</th>
                                            <th [nzWidth]="'250px'">Product Name</th>                                  
                                            <th [nzWidth]="'70px'">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-color-secondary-font text-xs">
                                            @for (data of dataTable.data; track data) {
                                            <tr>
                                                <!-- List Order -->
                                                <td>
                                                @if(editingId === data.product) {
                                                    <input nz-input formControlName="listOrder" value="listOrder" type="number" />
                                                    <input nz-input formControlName="product" value="product" type="number" class="hidden" />
                                                    <input nz-input formControlName="additionalCategory" value="additionalCategory" type="text" class="hidden" />
                                                } @else {
                                                    {{ data.listOrder }}                                          
                                                }
                                                </td>
                                                <!-- Product Name -->
                                                <td>                                      
                                                    {{ data.productName }}
                                                </td>
                                                <!-- Actions -->
                                                <td>
                                                    <span class="flex gap-3">
                                                        @if (editingId === data.product) {
                                                            <a (click)="saveAssociatedProEdit(data)"> Save</a>
                                                            <a (click)="cancelEdit()">Cancel</a>
                                                        } @else if (savedId === data.product) {
                                                            <a (click)="startEdit(data)">
                                                                <img src="../imgs/Edit-Icon.svg" alt="Edit Icon">
                                                            </a>
                                                            <a (click)="deleteAssociatedProduct(data)">
                                                                <img src="../imgs/Delete-Icon.svg" alt="Delete Icon">
                                                            </a>
                                                        } @else {
                                                            <a (click)="startEdit(data)">
                                                                <img src="../imgs/Edit-Icon.svg" alt="Edit Icon">
                                                            </a>
                                                            <a (click)="deleteAssociatedProduct(data)">
                                                                <img src="../imgs/Delete-Icon.svg" alt="Delete Icon">
                                                            </a>
                                                        }
                                                    </span>
                                                
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </nz-table>

                                </form>
                            </div>
                        </div>
                    </div>
            </div>
        
            <!-- Right Section -->
            <div class="lg:col-span-5 md:col-span-6 lg:pl-20" >
                    <div class="grid grid-cols-1  mt-2">
                        <div class="flex flex-col items-start space-y-2 nz-checkbox-wrapper nz-checkbox-wrapper-website">
                            <label class=""  formControlName="akiProductIsActive" nz-checkbox nzValue="false">Cat Active </label >
                        </div>
                    </div>
    
                    <!-- Layout Template Dropdown -->
                    <div class="mt-1">
                        <nz-form-item class="w-full">
                            <nz-form-label nzFor="layoutTemplate" [nzNoColon]="true">Layout Template</nz-form-label>
                            <nz-form-control>
                                <nz-select formControlName="aki_Layout_Template" class="w-full">
                                    @for (option of layoutOptions; track option.templateCode) {
                                        <nz-option  [nzValue]="option.templateCode" [nzLabel]="option.layoutDescription"></nz-option>
                                    }
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
    
                    <!-- Alternative Title -->
                    <div class="mt-1">
                        <nz-form-item class="w-full">
                            <nz-form-label nzFor="alternativeTitle" [nzNoColon]="true">Alternative Title</nz-form-label>
                            <nz-form-control>
                                <textarea nz-input rows="4" formControlName="akiProductAlternativeTitle" id="alternativeTitle" class="w-full p-2"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
    
                    <!-- Show Price Breaks Checkbox -->
                    <div class="mt-1">
                        <div class="flex items-center space-x-2 nz-checkbox-wrapper">
                            <label formControlName="akiProductShowPriceBreaks" nz-checkbox nzValue="false">Show Price Breaks </label >
                        </div>
                    </div>
    
                    <!-- Index Entry Text Section -->
                    <div class="mt-2">
                        <label >Index Entry Text</label>
                        <div class="border border-gray-300 rounded-lg p-4">
                            <div class="grid grid-cols-1 gap-3">
                                <nz-form-item>
                                    <nz-form-label [nzNoColon]="true">Index Entry 1</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="akiProductIndexText1" class="w-full" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzNoColon]="true">Index Entry 2</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="akiProductIndexText2" class="w-full" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzNoColon]="true">Index Entry 3</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="akiProductIndexText3" class="w-full" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzNoColon]="true">Index Entry 4</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="akiProductIndexText4" class="w-full" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzNoColon]="true">Index Entry 5</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input formControlName="akiProductIndexText5" class="w-full" />
                                    </nz-form-control>
                                </nz-form-item>
                                
                            </div>
                        </div>
                    </div>
            </div>
        </div> 
    </form>
</div>
<nz-modal [(nzVisible)]="isCategoryModalVisible" nzTitle="Select Category" (nzOnCancel)="closeCategoryModal()" (nzOnOk)="selectCategory()">
    <ng-container *nzModalContent>

        <div class="grid grid-cols-1 mb-2">
            <nz-form-item>
                <nz-form-label [nzNoColon]="true" >Search</nz-form-label>
                <nz-form-control>
                    <nz-input-group [nzSuffix]="suffixIcon">
                        <input nz-input [(ngModel)]="searchValue" (ngModelChange)="onSearch()" />
                    </nz-input-group>
                    <!-- Icon for Search -->
                    <ng-template #suffixIcon>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </nz-form-control>
              </nz-form-item>
        </div>

        <nz-table #basicTable [nzBordered]="true" [nzData]="filteredCategories" [nzLoading]="loading"  nzSize="small" [nzShowPagination]="true">
            <thead>
              <tr> 
                <th nzWidth="50"></th> <!-- Checkbox Column -->
                <th nzWidth="50">ID</th>
                <th nzWidth="200">Category Name</th>
              </tr>
            </thead>
            <tbody>    
              @for ( category of basicTable.data; track $index) {
                  <tr>
                      <td>
                          <label nz-checkbox [(ngModel)]="category.selected" (ngModelChange)="onCategorySelect(category)"></label>
                      </td>
                      <td>{{ category.akiCategoryID }}</td>
                      <td>{{ category.akiCategoryName }}</td>
                  </tr>
              }
            </tbody>
        </nz-table>

      </ng-container>
</nz-modal>
<!-- Add product modal -->
<nz-modal [(nzVisible)]="isVisibleAddProductModal"
[nzTitle]="addProductTitletemplate"
(nzOnCancel)="handleCancel()"
[nzFooter]="null"
nzClosable="false"
nzWidth="500px"
>
<ng-container *nzModalContent>
    <form nz-form [formGroup]="addAssociatedProductForm">
        <div class="grid grid-cols-1 px-3 py-1 gap-3">                
            <nz-form-item>
                <nz-form-label [nzNoColon]="true">List Order</nz-form-label>
                <nz-form-control nzErrorTip="list order is required" >
                    <input nz-input formControlName="listorder" class="w-full" type="number" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzNoColon]="true">Product Name</nz-form-label>
                <nz-form-control nzErrorTip="Product name is required">
                    <input nz-input formControlName="product" class="w-full" />                                            
                </nz-form-control>
            </nz-form-item>                
            <div class="flex justify-center">
                <!-- <nz-form-label [nzNoColon]="true">Web Active</nz-form-label>
                <nz-switch                          
                    formControlName="webActive"
                ></nz-switch>                      -->
            </div>
            <div class="flex justify-end gap-3 mt-5">
                <button nz-button nzType="default"
                (click)="handleCancel()">
                  Cancel
                </button>
                <button
                  (click)="addAssociatedProductSubmitForm()"                  
                  nz-button
                  class="text-white"
                  nzType="primary"                                          
                >
                Save
                </button>
            </div>
        </div>            
    </form>
    <div class="p-4">
        <nz-table                      
        #associateDataTable nzSize="small"
        nzBordered="true"
        [nzData]="productList"
        class="rounded-lg"
        [nzShowPagination]="true"
        [nzLoading]="loadingProduct"      
        >
        <thead class="text-xs">
          <tr>
            <th>Product Id</th>
            <th [nzWidth]="'250px'">Product Name</th>                                  
            <th>Product Active</th>
          </tr>
        </thead>
        <tbody class="text-color-secondary-font text-xs">
          @for (data of associateDataTable.data; track data) {
            <tr><!-- List Order -->
                <td>                  
                    {{ data.akiProductID }}
                 </td>    
                <!-- Product Name -->
                <td>                                      
                   <a (click)="selectProduct(data)" class="text-gray-500 cursor-pointer"> {{ data.akiProductName }}</a>
                </td>
                <!-- web Active -->
                <td>
                <span class="flex gap-3">
                    @if(data.akiProductIsActive==true)
                    {
                        <img src="../imgs/Check boxTrue.svg" alt="true checkIcon">
                    }
                    @if(data.akiProductIsActive==false)
                    {
                          <img src="../imgs/CheckboxFalse.svg" alt="false deleteIcon">  
                    }                  
                </span>
                </td>
            </tr>

          }
        </tbody>
        </nz-table>        
    </div>
   
</ng-container>
</nz-modal>
<ng-template #addProductTitletemplate>
<span class="text-gray-600">Add Product</span>
</ng-template>