.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}


.ant-checkbox-inner {
    margin-left: 70px !important;
}

.nz-checkbox-wrapper-price {
    align-items: flex-end !important;
    margin-bottom: 12px !important;;
}

.heading {
    background-color: var(--color-primary-font);
}

.ellipsis-btn {
    border: none !important;
    cursor: pointer;
}

:host ::ng-deep .ant-input-group-addon {
    padding: 0 0;
    font-size: 11px;
    background-color: #EFF2F7;
}


