<div class="sku-container">
    <div class="sku-header">
      SKU Name
    </div>

    @if (loading) {
      <div class="loading-container">
        <nz-spin nzSize="large"></nz-spin>
      </div>
    }

    @if (!loading && skus && skus.length > 0) {
      <ul class="sku-list divide-y divide-gray-200">
        @for (sku of skus; track sku.itemNumber) {
          <li *ngIf="sku" class="sku-item" (click)="onSkuClick(sku.akiSKUID)"  
            [ngClass]="{'selected': selectedSku === sku?.akiSKUID}">
            {{sku.skuName}}
          </li>
        }
      </ul>
    } @else if (!loading) { 
      <div class="empty-message h-48">
        {{ displayText }}
      </div>
    }
    
  </div>