<div class="sku-container">
    <div class="sku-header">
      SKU Name
    </div>

    <nz-spin [nzSpinning]="loading">
      @if (skus && skus.length > 0) {
        <ul class="sku-list divide-y divide-gray-200">
          @for (sku of skus; track $index) {
            <li class="sku-item" (click)="onSkuClick(sku)"  
              [ngClass]="{ 'bg-bg-light': selectedSku === sku?.akiSKUID}">
              {{sku.skuName}}
            </li>
          }
        </ul>
      } @else  { 
        <div class="empty-message h-48">
          {{ displayText }}
        </div>
      }
    </nz-spin>
    
  </div>